* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: black;
}

.info-title {
    color: rgb(196, 195, 195);
    text-align: center;
    margin-top: 70px;
    letter-spacing: 2px;
    font-weight: 600n;
}

.skills {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    gap: 30px;
    margin-inline:30px;
    margin-top: 30px;
    /* margin-top:25px;
    margin-inline: 30px;
    box-shadow: rgba(159, 140, 164, 0.4) 0px 8px 50px;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px; */
}