* {
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: black;
    
}

h3{
   color: white;
   text-align: center;
   
}

.skills {
   
    display: grid;
    grid-template-columns: repeat( 5, 1fr);
}