.about-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    margin-top: -40px;
    position: relative;
    /* color: rgb(194, 192, 192); */
    color: rgb(196, 195, 195);
    background-color: rgb(0, 0, 0, 0.5);
    

}

h1 {
    /* color: white; */
    /* color: rgb(174, 121, 24); */
    font-size: 30px;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 600;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./about.jpg);
    background-repeat: none;
    background-size: cover;
}

.about {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 100px;
    /* color: rgb(161, 158, 158); */
    color: rgb(196, 195, 195);
}

section > h3 {
    font-weight: 400;
}

/* .frontend {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
} */
