footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(196, 195, 195);
    margin-bottom: 20px;
}

.year {
    font-size: 14px;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mail {
    height: 25px;
    filter: invert(87%) sepia(0%) saturate(2879%) hue-rotate(152deg)
        brightness(70%) contrast(114%);
}

.linkedin {
    height: 23px;
    filter: invert(87%) sepia(0%) saturate(2879%) hue-rotate(152deg)
        brightness(70%) contrast(114%);
}

.github {
    height: 25px;
    filter: invert(87%) sepia(0%) saturate(2879%) hue-rotate(152deg)
        brightness(70%) contrast(114%);
}
