.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    color: rgb(161, 158, 158);
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 9999;
}

.links {
    display: flex;
    gap: 30px;
}

.Link {
    position: relative;
    text-decoration: none;
    color: rgb(161, 158, 158);
    cursor: pointer;
}

.Link:after {
    content: '';
    position: absolute;
    background-color: rgb(161, 158, 158);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
}

.Link:hover:after {
    width: 100%;
}

@media(max-width:700px){
    .links {
        position: fixed;
        inset: 0 0% 40% 70%;
        background-color: rgb(3, 3, 3);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
