.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.links {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}