.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    position: sticky;
    top: 0;
    color: white;
    background: rgba(0, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    
}

.links {
    display: flex;
    gap: 30px;
}

.Link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}