.project-img {
    height: 300px;
    width: 350px;
    border-radius: 30px;
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(159, 140, 164, 0.4) 0px 8px 50px;
    border-radius: 30px;
    margin-bottom: 30px;
    margin: 30px;
}

.info {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #a19e9e;
}

section > h3 {
    color: rgb(196, 195, 195);
}

.btn {
    margin: 20px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid rgb(196, 195, 195);
    color: rgb(196, 195, 195);
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
    background-color:rgb(255, 255, 255, 0.1)
}



@Media(max-width: 700px) {
    .project-wrapper {
        display: flex;
        flex-direction: column;
    }
}