.project-img {
    height: 300px;
    width: 350px;
    border-radius: 30px;
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    box-shadow: rgba(159, 140, 164, 0.4) 0px 8px 50px;
    border-radius: 30px;
    margin-bottom: 30px;
    margin: 30px;
}

.info {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #a19e9e;
}
